# File Database
# Ngăn chặn việc đẩy file CSDL cá nhân lên repo
*.db
*.sqlite
*.sqlite3
expense.db

# Thư mục cache của Python
__pycache__/
*.py[cod]

# Thư mục môi trường ảo
venv/
ENV/
env/
.env

# Thư mục cấu hình của Streamlit
.streamlit/